.App {
  font-family: "Noto Sans";
}

h1 {
  font-family: "Noto Sans";
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-family: "Noto Sans";
  font-weight: 700;
}

h4 {
  font-family: "Noto Sans";
  font-weight: 400;
}

h5 {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: italic;
}

.review {
  width: 300px;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
}

.update-form {
  width: 280px;
  max-width: 280px;
}

input,
button {
  font-family: "Noto Sans";
  font-weight: 400;
}

button {
  margin: 10px 0;
}
